.chat-box {
  min-height: 400px;
}

.bot-icon {
  font-size: 1.5rem;
  align-self: flex-start;
}

.user-msg {
  max-width: 75%;
}

.user-avatar img {
  width: 32px;
  height: 32px;
}

[data-theme="dark"] .chat-box {
  background-color: #292824;
  color: #000;
  border: #fff solid 1px;
}

[data-theme="dark"] .user-msg {
  background-color: #924f4f;
  color: #fff;
}
