body {
  background-color: #f9f9f9;
}

.badge {
  font-size: 0.75rem;
}

.table th,
.table td {
  vertical-align: middle;
}

img.img-fluid {
  max-height: 600px;
}

.custom-modal .modal-content {
  background-color: #f8f9fa;
  color: #333; 
}
